<!-- views/error.ejs -->

<%- include('partials/header'); -%>

<div class="container mt-5">
    <h1 class="text-danger">There's been some kind of mistake... or</h1>
    <p>Sorry <strong><%= user.username %></strong>, you do not have permission to access this page.</p>
</div>

<%- include('partials/footer'); -%>
