<!-- views/error.ejs -->

<%- include('partials/header'); -%>

    <div class="container">
        <h1>Error 403: Access Forbidden</h1>
        <p>Sorry <strong><%= user.username %></strong>, you do not have permission to access this page.</p>
    </div>
</body>
</html>

<%- include('partials/footer'); -%>