<!-- views/home.ejs -->

<%- include('partials/header'); -%>

<header class="container my-5">
  <div class="text-center">
    <h2>Find Games and Read the news</h2>
    <a href="/games" class="btn btn-warning">View Games</a>
    <a href="/news" class="btn btn-warning">View Game News</a> <!-- Новая кнопка для просмотра игровых новостей -->
  </div>
</header>

<%- include('partials/footer'); -%>
