<!-- views/home.ejs -->

<%- include('partials/header'); -%>

<header class="container mt-5">
  <div class="text-center">
    <h2>Find any Games</h2>
    <h3>by illus1ve</h3>
    <a href="/games" class="btn btn-primary">View</a>
  </div>
</header>

<%- include('partials/footer'); -%>
