<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Find any Games</h2>
    <h3>by illus1ve</h3>
    <a href="/games" class="btn">View</a>
  </div>
</header>


<%- include('partials/footer'); -%>